.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e1dada;
    background-color: #1a1919;
    width: 150px;
}
.item {
   padding: 15px 0 0 0;
}
.item a.activeLink {
    color: #9DE0CF;
}
.item a {
    color: #e1dada;
    font-family: "Bowlby One", sans-serif;
    font-size: 17px;
    text-decoration: none;
}

