@font-face {
  font-family: 'Bowlby One', sans-serif;
  src: url("../asserts/fonts/BowlbyOne-Regular.woff2") format('woff2');
  src: url("../asserts/fonts/BowlbyOne-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 1080px;
  margin: 0 auto;
}
.main-content {
  display: flex;
}
.content {
  color: #fff;
  background-color: #2c2f33;
  width: 1080px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
body {
  background: linear-gradient(135deg, #1f1f1f, #3b3b3b);  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}