.dialogs {
    display: flex;
    justify-content: space-between;
}
.dialogs {
    flex-basis: 30%;
    flex-shrink: 0;

}
.dialog {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ccc7c7;
}
.dialog.active {
    color: #9DE0CF;
}
.messages {
    flex-basis: 70%;
    flex-shrink: 0;
}
.dialogs .dialogs-items {

}
.messages .message {

}
.dialogAvatar {
    width: 40px;
    border-radius: 50%;
}