.content {
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background .img {
    width: 100%;
    height: auto;
    opacity: 60%;
    object-fit: cover;
}

.descriptionBlock {
    display: flex;
    position: relative;
    padding: 10px;
    z-index: 2;
}

.about {
    padding: 40px 20px;
}

.fullNameAndAboutMe {
    padding-bottom: 40px;
}
.fullName {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.aboutMe {
}
.descriptionBlock .avatarImage {
    padding: 25px 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.jobStatus {
    font-size: 17px;
}
