.dialogs {
    display: flex;
    justify-content: space-between;
}
.dialogs {
    flex-basis: 30%;
    flex-shrink: 0;

}
.dialog {
    padding: 10px;
    align-items: center;
}
.dialog.active {
    color: #9DE0CF;
}
.messages {
    flex-basis: 70%;
    flex-shrink: 0;
}
.dialogs .dialogs-items {

}
.messages .message {

}